.scuffers-navbar {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;

  position: fixed;   /* Navbar fijo */
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Contenedor principal con espacio para el navbar fijo */
.main-content {
  padding-top: 60px; /* Ajusta este valor si tu navbar es más alto */
}

.nav-left {
  padding-left: 70px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1px;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  padding-right: 40px;
  flex: 1;
}
