.loginRegister-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginRegister-main-content {
  display: flex;
  margin-top: -300px;
  margin-left: 110px;
}

.loginRegister-login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 80vh;
}

.loginRegister-login-form {
  width: 330px;
  display: flex;
  flex-direction: column;
}

.loginRegister-form-title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 500;
}

.loginRegister-form-label {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
  color: #333;
  text-align: left;
  letter-spacing: 2px;
}

.loginRegister-form-input {
  padding: 0.7rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  outline: none;
}

.loginRegister-form-input:focus {
  border-color: black;
}

.loginRegister-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.loginRegister-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.loginRegister-forgot-password {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}

.loginRegister-login-btn {
  padding: 0.8rem 1rem;
  background: black;
  color: white;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s ease;
  border-radius: 0;
  width: 60%;
  align-self: center;
  letter-spacing: 2px;
}

.loginRegister-login-btn:hover {
  background: #222;
}

.loginRegister-register-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 18rem;
  transform: translateY(85px);
  margin-right: 40px;
}

.loginRegister-register-form {
  width: 330px;
  display: flex;
  flex-direction: column;
}

.loginRegister-birthdate-selects {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.loginRegister-birth-select {
  flex: 1;
  padding: 0.7rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  font-family: inherit;
}

.loginRegister-terms-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.loginRegister-terms-label {
  color: #333;
}

.loginRegister-underline {
  text-decoration: underline;
}

.loginRegister-register-btn {
  padding: 0.8rem 1rem;
  background: black;
  color: white;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s ease;
  border-radius: 0;
  width: 60%;
  align-self: center;
  letter-spacing: 2px;
}

.loginRegister-register-btn:hover {
  background: #222;
}
