.age-target-card {
  width: 460px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

.icon-placeholder {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.chart-container {
  width: 200px;
  height: 200px;
}

.age-info {
  font-size: px;
  font-weight: bold;
  text-align: left;
  margin-right: 20PX;
  margin-left: 60px;
}
