/* Página completa con sidebar */
.AddProduct-page {
  display: flex;
  width: 100vw;
  margin-left: 130px;
  height: 100vh;
  background-color: #fff;
}
 
/* Contenedor principal del formulario */
.AddProduct-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
 
/* Encabezado con título y botón de configuración */
.AddProduct-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 80px;
  margin-left: 220px;
}
 
.AddProduct-header h2 {
  font-size: 24px;
  color: #000;
}
 
/* Contenedor principal con formulario e imagen */
.AddProduct-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}
 
/* Sección izquierda: Inputs principales */
.AddProduct-form-section {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 35px;
  position: relative;
  top: 50px;
}
 
/* Sección de imagen */
.AddProduct-image-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -100px;
}
 
/* Espacio para la imagen */
.AddProduct-image-preview {
  height: 500px;
  width: 200;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  color: #777;
}
 
/* Inputs y select */
.AddProduct-form-section input,
.AddProduct-form-section select,
.AddProduct-image-section input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: left;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}
 
/* Botón ADD centrado */
.AddProduct-button-container {
  display: flex;
  justify-content: center;
  width: 60%;

}
 
.AddProduct-button {
  width: 30%;
  padding: 12px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
 
.AddProduct-button:hover {
  background-color: #333;
}
