/* Botón de configuración */
.settings-button {
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  position: absolute; /* Posiciona el botón de manera absoluta */
  top: 20px; /* Ubicación desde la parte superior */
  right: 20px; /* Ubicación desde la parte derecha */
  position:fixed
}

/* Ícono de marcador de posición */
.icon-placeholder {
  width: 30px; /* Ancho del ícono */
  height: 30px; /* Altura del ícono */
  background-color: #ccc; /* Color de fondo gris */
  border-radius: 50%; /* Forma circular */
}
