.SalesCard-container {
  width: 100%;
  max-width: 1000px; /* Se expande más pero mantiene límites */
  max-height: min-content;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SalesCard-header {
  width: 100%;
  text-align: center;
}

.SalesCard-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.SalesCard-chart {
  width: 100%;
  height: 400px; /* Aumentamos la altura para ocupar toda la card */
  margin-top: 10px;
}
