/*  Contenedor principal de la tarjeta */
.SalesCard-container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 20px;
   background-color: #fcfcfc;
  border-radius: 15px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/*  Encabezado con título y selector */
.SalesCard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/*  Título */
.SalesCard-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

/*  Contenedor del "Sort by" */
.SalesCard-sort-by {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre el texto y el selector */
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/*  Selector de fecha */
.SalesCard-datepicker {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

/*  Contenedor del gráfico */
/*  Ajuste del tamaño de la gráfica */
.SalesCard-chart {
  width: 100%;
  height: 500px; /* 🔥 Aumentamos la altura del gráfico */
}


.SalesCard-week-info {

  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
