@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

.sidebar {
  width: 220px;
  height: 94vh;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Ícono grande en la parte superior */
.icon-placeholder.super-large {
  margin-top: 30px;
  width: 100px;
  height: 100px;
}

/* Íconos más grandes en el menú */
.icon-placeholder.bigger {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #c2c2c2;
}

/* Botón Logout */
.logout-container {
  display: flex;
  align-items: center;
}

.logout-btn {
  font-size: 20px;
  width: 100px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
  padding: 10px 0px;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

/* Tarjeta de Confirmación de Logout */
.logout-confirmation {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.logout-confirmation p {
  font-size: 18px;
  font-weight: bold;
}

.logout-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.confirm-btn, .cancel-btn {
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-btn {
  background-color: #000000;
  color: white;
}

.cancel-btn {
  background-color: #000000;
  color: white;
}

.confirm-btn:hover {
  background-color: #b11322;
}

.cancel-btn:hover {
  background-color: #136d27;
}
