/* Contenedor principal de la barra lateral */
.Sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 97vh;
  width: 225px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Íconos más grandes en el menú */
.Sidebar-icon-placeholder-bigger {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

.Sidebar-logoApp {
  margin-top: 0px;
  align-items: flex-start;
}

/* Lista de navegación */
.Sidebar-nav ul {
  list-style: none;
  padding: 10px;
}

/* Elementos de la lista de navegación */
.Sidebar-nav ul li {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 36px;
  gap: 20px;
}

/* Estilos para los enlaces de navegación */
.Sidebar-nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Efecto al pasar el mouse sobre los enlaces */
.Sidebar-nav ul li a:hover {
  color: #c2c2c2;
}

/* Contenedor del botón Logout */
.Sidebar-logout-container {
  display: flex;
  align-items: center;
}

/* Botón Logout */
.Sidebar-logout-btn {
  font-size: 20px;
  width: 100px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
  padding: 10px 0px;
  transition: all 0.3s ease;
}

/* Efecto al pasar el mouse sobre el botón Logout */
.Sidebar-logout-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

/* Tarjeta de Confirmación de Logout */
.Sidebar-logout-confirmation {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

/* Texto dentro de la tarjeta de confirmación */
.Sidebar-logout-confirmation p {
  font-size: 18px;
  font-weight: bold;
}

/* Contenedor de los botones de confirmación */
.Sidebar-logout-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* Estilos para los botones de confirmación y cancelación */
.Sidebar-confirm-btn, .Sidebar-cancel-btn {
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Botón de confirmación */
.Sidebar-confirm-btn {
  background-color: #000000;
  color: white;
}

/* Botón de cancelación */
.Sidebar-cancel-btn {
  background-color: #000000;
  color: white;
}

/* Efecto al pasar el mouse sobre los botones */
.Sidebar-confirm-btn:hover {
  background-color: #b11322;
}

.Sidebar-cancel-btn:hover {
  background-color: #136d27;
}
