/* Contenedor principal de la sección de productos más vendidos */
.top-selling-products {
  padding: 20px; /* Espaciado interno */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1); /* Sombra para efecto visual */
  font-weight: bold; /* Texto en negrita */
}

/* Estilo para el título de la sección */
h2 {
  font-size: 20px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: top; /* Alineación del texto */
  margin-bottom: 20px; /* Espacio debajo del título */
}

/* Contenedor de la lista de productos */
.products-list {
  display: flex; /* Activa el modelo de caja flexible */
  gap: 20px; /* Espacio entre los elementos */
  font-size: 14px; /* Tamaño del texto */
  justify-content: flex-start; /* Alinea los elementos al inicio y usa gap para espaciado */
}

/* Tarjeta de cada producto */
.product-card {
  display: flex; /* Activa el modelo de caja flexible */
  flex: 1 1 0; /* Ocupa el mismo espacio que los otros contenedores flex */
  flex-direction: row; /* Alinea los elementos en fila */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #EDEDED; /* Fondo gris claro */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto visual */
}

/* Contenedor de la información del producto */
.product-info {
  margin-left: 10px; /* Espacio izquierdo */
}

/* Nombre del producto */
.product-name {
  font-weight: bold; /* Texto en negrita */
}

/* Precio del producto */
.product-price {
  color: #555; /* Color gris oscuro */
}

/* Cantidad vendida del producto */
.product-sold {
  color: #333; /* Color negro */
}

/* Cambio positivo en ventas */
.product-change.green {
  color: green; /* Color verde */
}

/* Cambio negativo en ventas */
.product-change.red {
  color: red; /* Color rojo */
}
